<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find Regex in Text</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find Regex in Text</h1>
    <form action="{{url_for('search_fun')}}" method="post">
        <input type="text" name="text" placeholder="Enter text">
        <input type="text" name="regex" placeholder="Enter regex">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>